@font-face {
    font-family: 'Parkinsans';
    src: url('/fonts/Parkinsans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    font-family: 'Parkinsans', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: var(--md-sys-color-surface);
}

a {
    text-decoration: none;
    color: var(--md-sys-color-on-surface);
}