<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme/dark.css">
    <link rel="stylesheet" type="text/css" href="css/theme/light.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Admin kezelőpanel</title>
</head>
<body>
    <script src="js/theme.js"></script>
    <script src="js/redirections.js"></script>
    <div class="main-section">
        <span style="color: var(--md-sys-color-on-surface)">Admin kezelőpanel</span>
        <button id="theme-toggle" onclick="toggleTheme()">
            <img id="theme-icon" src="images/light_mode.svg" alt="Témaváltó gomb">
        </button>
    </div>
</body>
</html>