<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme/dark.css">
    <link rel="stylesheet" type="text/css" href="css/theme/light.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <title>Admin Kezelőpanel</title>
</head>
<body>
    <script src="js/theme.js"></script>
    <script src="js/redirections.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/dashboard.js"></script>
    <div class="top-section">
        <span id="dashboard-title" style="color: var(--md-sys-color-on-surface)">Admin Kezelőpanel</span>
        <span id="logout" class="clickable" onclick="logout()">Kijelentkezés</span>
        <span id="return-home" class="clickable" onclick="redirectToHome()">Vissza a főoldalra</span>
        <button id="theme-toggle" onclick="toggleTheme()">
            <img id="theme-icon" src="images/light_mode.svg" alt="Témaváltó gomb">
        </button>
    </div>
    <div class="panel-container">
        <div class="channel-panel panel-section">
            <span id="panel-title">Összes csatorna (<%= channels.length %>)</span>
            <span class="clickable bg">Új csatorna létrehozása</span>
        </div>
        <div class="show-panel panel-section">
            <span id="panel-title">Összes műsor (<%= shows.length %>)</span>
            <span class="clickable bg">Új műsor létrehozása</span>
        </div>
        <div class="actor-panel panel-section">
            <span id="panel-title">Összes szereplő (<%= actors.length %>)</span>
            <span class="clickable bg">Új szereplő létrehozása</span>
        </div>
        <div class="category-panel panel-section">
            <span id="panel-title">Összes kategória (<%= categories.length %>)</span>
            <span class="clickable bg">Új kategória létrehozása</span>
        </div>
    </div>
</body>
</html>