<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme/dark.css">
    <link rel="stylesheet" type="text/css" href="css/theme/light.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Műsorújság projekt</title>
</head>
<body>
    <script src="js/theme.js"></script>
    <script src="js/redirections.js"></script>
    <div class="main-section">
        <div class="title-container">
            <span id="project-title" style="color: var(--md-sys-color-on-surface)">Adatbázisok gyakorlat - Műsorújság projekt</span>
            <span id="project-subtitle" style="color: var(--md-sys-color-on-surface)">Készítette: Bartos Martin (AWPA20)</span>
        </div>
        <div class="clickable-container">
            <span id="admin-login" class="clickable bg" onclick="redirectToLogin()">Admin belépés</span>
            <span id="view-program-guide" class="clickable bg" onclick="redirectToProgramGuide()">Műsorújság megtekintése</span>
        </div>
        <button id="theme-toggle" onclick="toggleTheme()">
            <img id="theme-icon" src="images/light_mode.svg" alt="Témaváltó gomb">
        </button>
    </div>
</body>
</html>