<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme/dark.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Műsorújság</title>
</head>
<body class="dark">
    <script>
        function redirectToLogin() {
            window.location.href = "/login";
        }
    </script>
    <div class="top-section">
        <span id="project-title" style="color: var(--md-sys-color-on-surface)">Műsorújság</span>
        <span id="project-subtitle" style="color: var(--md-sys-color-on-surface)">Készítette: Bartos Martin (AWPA20)</span>
    </div>
    <div class="main-section">
        <div class="program-section">

        </div>
    </div>
    <div class="bottom-section">
        <span id="admin-login" onclick="redirectToLogin()">Admin belépés</span>
    </div>
</body>
</html>