<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme/dark.css">
    <link rel="stylesheet" type="text/css" href="css/theme/light.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/auth.css">
    <title>Admin bejelentkezés</title>
</head>
<body>
    <script src="js/theme.js"></script>
    <script src="js/redirections.js"></script>
    <script src="js/login.js"></script>
    <script src="js/auth.js"></script>
    <div class="main-section">
        <form id="auth-form">
            <span id="error_label"></span>
            <input id="log-name" type="text" placeholder="Név" name="username" required>
            <input id="log-pass" type="password" placeholder="Jelszó" name="password" required>
            <button id="auth-btn" type="submit" class="clickable bg">Belépés</button>
            <span id="admin-auth" class="clickable" onclick="redirectToRegistration()">Regisztráció</span>
        </form>
        <span id="return-home" class="clickable" onclick="redirectToHome()">Vissza a főoldalra</span>
        <button id="theme-toggle" onclick="toggleTheme()">
            <img id="theme-icon" src="images/light_mode.svg" alt="Témaváltó gomb">
        </button>
    </div>
</body>
</html>