<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/theme/dark.css">
    <link rel="stylesheet" type="text/css" href="css/theme/light.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/program-guide.css">
    <title>Műsorújság</title>
</head>
<body>
    <script src="js/theme.js"></script>
    <script src="js/redirections.js"></script>
    <span id="title" style="color: var(--md-sys-color-on-surface)">Műsorújság</span>
    <span id="return-home" class="clickable" onclick="redirectToHome()">Vissza a főoldalra</span>
    <button id="theme-toggle" onclick="toggleTheme()">
        <img id="theme-icon" src="images/light_mode.svg" alt="Témaváltó gomb">
    </button>
</body>
</html>